@import url("https://fonts.googleapis.com");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    display: flex;
}
header{
    border: 1px solid rgb(90, 189, 90);
    height: 150vh;
}
nav h1{
    font-size: 30px;
    font-weight: 800;
    padding: 20px;
    border-bottom: 1px solid rgb(90, 189, 90);
}
nav ul a{
    font-size: 20px;
    font-weight: 700;
}
nav ul{
    list-style: none;
}
nav ul li {
    border-bottom: 1px solid rgb(90, 189, 90);
    padding: 10px;
    color: black; 
}
nav ul li:hover{
    background:  rgb(122, 244, 122);
    transition: 0.3s ease-in-out;
}

/* -----------------main section-------------- */
main{
    padding: 50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;
}
section article{
    font-size: 21px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
section article ul{
    margin-left: 30px;
}
section article li{
    margin-bottom: 14px;
    background:  rgb(155, 241, 155);
    display: inline-flex;
}
section h2{
    padding-bottom: 10px;
    font-size: 25px;
    border-bottom: 1.5px solid rgb(90, 189, 90);
    margin-bottom: 21px;
}
 
/* -------------media query-------- */
@media (max-width: 480px){
    body{
        flex-direction: column;
    }
    header{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}